@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFDXEQX61G14thN3jYM08ZJY074Q-6hd0rcQ&usqp=CAU");
  background-size: 100% 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  padding-bottom: 300px;
  font-family: "Roboto Slab", serif;
}

#carta {
  margin: auto;
  height: 350px;
  width: 250px;
  border-radius: 15px;
}

div {
  height: 33.3%;
}

.palo,
#numero {
  font-size: 60px;
}

.bajo {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
